@keyframes fade-in {
  from { opacity: 0; transform: translateY(5px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-fade-in {
  animation: fade-in 0.25s ease-in-out;
}
.custom-scroll::-webkit-scrollbar{
  width: 4px;
  height: 4px;
  background-color: white;
}
.custom-scroll::-webkit-scrollbar-thumb{
  background: #1E93AB;
}